@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root{
    --primary-background: #222831;
    --dark-text-primary: #393E46;
    --dark-text-secondary: #6B7280;
    --light-components-primary: #F8F9FA;
    --dark-components-primary: #121212;
    --sidebar-background: #2E3440;
    --error-red: #D32F2F;
    --white-filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(355%) hue-rotate(170deg) brightness(103%) contrast(98%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}
.app-container  {
    background-color: var(--primary-background);
    width: 100vw;
    height: 100vh;
}
.page{
    background-color: var(--primary-background);
    width: 100vw;
    height: 100vh;
}