.container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    gap: 10px;
    cursor: pointer;
}
.icon{
    transform: translateY(3px);
}
.items{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.user-controls{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    filter: var(--white-filter);
}