.course-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

    min-width: 500px;
}
.course-wrapper-header {
    padding: 10px 14px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.course-wrapper-icon {
    filter: black;
    display: flex;
    align-items: center;
}
.course-wrapper-icon > img {
    width: 28px;
    height: 28px;
}

.course-wraper-classes-in-course {
    width: 100%;
    border-top: 1px solid var(--primary-background);
}
.course-wrapper-icon {
    gap: 10px;
}
