.page-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    margin-left: 0;
    background-color: var(--sidebar-background);

    color: var(--light-components-primary);
    text-align: center;
}