.page-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    margin-left: 0;
    background-color: var(--sidebar-background);

    color: var(--light-components-primary);
    text-align: center;
}
.page-header-title {
    width: 100%;
}
.page-header-go-back {
    height: 38px;
    filter: var(--white-filter);
    cursor: pointer;
}
@media (max-width: 768px) {
    .page-header-title {
        display: none;
    }
    .page-header {
        justify-content: flex-end;
        align-items: center;
        padding: 0 8px;
    }
    .page-header-button {
        margin: 12px;
    }
}
