.class-wrapper-header{
    padding: 10px 14px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ccc;
}
.class-wrapper-header-icon > img{
    width: 24px;
    height: 24px;

}