.sign-in-page {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.sign-in-form{
    background-color: var(--light-components-primary);
    width: 40%;
    margin-top: 20vh;
    max-width: 400px;
    height: fit-content;
    padding: 30px;
    border-radius: 8px;
}
.description {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--dark-text-secondary);
}
.inputs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-controls{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 0;
}
.error-message{
    color: var(--error-red);
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}