.background{
    width: 100vw;
    min-height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.512);
    position: fixed;
}

.loading-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 82px;

    background-color: var(--light-components-primary);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.loader {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 