.system-stats{
    font-size: 30px;
    color: var(--light-components-primary);
    text-align: center;
    margin-top: 10px;
}

.system-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 24px;
    padding: 0 20px;
}