name: Build and Run Check

on:
    push:
        branches:
            - "**"
    pull_request:
        branches:
            - "**"

jobs:
    test-build-and-run:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: backend
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Use Node
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install dependencies
              run: npm ci

            - name: Run your build-and-run-test script
              run: npm run build-and-run-test
